/* Mobile Scroll Fixes */
html,
body {
    overscroll-behavior-y: none;
    /* Prevent pull-to-refresh if not needed */
    height: 100%;
}

#root {
    height: 100%;
    overflow-y: auto;
    /* Scroll happening here */
    -webkit-overflow-scrolling: touch;
}

/* Ensure child containers don't block scroll */
.overflow-y-auto {
    -webkit-overflow-scrolling: touch;
}